@import "./variables";
@import "../assets/_ppd-icons.css";
@import "../assets/fonts/fonts.css";
@import "./normalize.css";
.hover-outline {
  outline: 2px solid transparent;
  transition: outline .15s;
  &:hover {
    outline: 2px solid #447eff;
  }
}

img {
  object-fit: contain;
  font-family: 'object-fit: contain;';
}

.v-application--wrap {
  width: 100%;
}

.flex1 {
  flex: 1;
}

.application--wrap {
  background-color: #fff;
}

.w-100 {
  width: 100%;
}
.r90 {
  transform: rotate(90deg);
}
.r180 {
  transform: rotate(180deg);
}
.r-90 {
  transform: rotate(-90deg);
}
.a {
  cursor: pointer;
}

.m-a {
  margin: auto;
}
.child-pa-3>* {
  padding: 12px;
}
.ppd-container {
  max-width: 1200px;
  width: 100%;
  padding: 0 19px;
  margin: 40px auto;
  @media (max-width:$w-sm) {
    margin: 20px auto;
    padding: 0 16px;
  }
}

.btn {
  position: relative;
  display: inline-block;
  color: #FFF !important;
  border-radius: 2px;
  padding: 10px 26px;
  cursor: pointer;
  &.high {
    padding: 13px 26px;
  }
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  background: rgb(122, 73, 210);
  transition: background-position 400ms ease-in;
  background: linear-gradient(to left, #ad63fc, #5f20d3);
  background-size: 150% 100%;
  background-position: 0%;
  &:hover {
    background-position: 100%;
  }
  &.inverted {
    background: #FFF;
    color: rgb(122, 73, 210) !important;
    transition: background-color 150ms ease-in, color 150ms ease-in;
    &:hover {
      background: #f9f1ff;
      color: rgb(158, 73, 221);
    }
  }
  &.outline {
    background: #FFF;
    border: 2px solid #7245FF;
    box-sizing: border-box;
    border-radius: 2px;
    color: #000 !important;
    &.high {
      padding: 11px 26px;
    }
    &:not(.high) {
      padding: 4px 26px;
    }
  }
}

.a,
a:not(.btn) {
  color: black !important;
  &.inverted {
    color: #7F3AE9 !important
  }
  text-decoration: none;
  transition: color 200ms,
  opacity 150ms;
  &:hover {
    &:not(.inverted) {
      color: #7F3AE9 !important;
    }
    &.inverted {
      color: black !important
    }
  }
}


.carousel-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0px 2px 14px rgba(214, 214, 214, 0.33);
  transition: box-shadow 150ms;
  @media (max-width: $w-sm) {
    &:not(.ignore-sm) {
      margin: 40px 14px;
      width: 36px;
      height: 36px;
      img {
        width: 7px;
      }
    }
  }
  &:not(.disabled) {
    cursor: pointer;
    box-shadow: 0px 2px 14px rgba(149, 75, 239, 0.26);
    &:hover {
      box-shadow: 0px 2px 10px rgba(214, 214, 214, 0.53);
    }
    img {
      filter: grayscale(100%) brightness(100%) sepia(100%) hue-rotate(-150deg) saturate(500%) contrast(0.8);
    }
  }
}

h1,
h2,
h3,
h4,
h5 {
  all: unset;
  display: block;
}

.h1,
.h2,
.h3,
.h4 {
  font-family: Montserrat, sans-serif;
  margin: 0;
  position: relative;
}

.h1,
.h2 {
  font-size: 35px;
  font-weight: 700;
  line-height: 40px;
  @media (max-width: $w-sm) {
    font-size: 20px;
    line-height: 28px;
    text-align: center
  }
}

.h3 {
  font-size: 30px;
  font-weight: 600;
  line-height: 33px;
}

.h4 {
  font-size: 25px;
  font-weight: 500;
}

.h5 {
  font-size: 20px;
  line-height: 27px;
  font-weight: 400;
  margin: 0;
  @media (max-width: $w-md) {
    font-size: 15px;
    line-height: 22px;
  }
}

.first-content {
  position: relative;
  z-index: 1;
  padding: 85px 0;
  margin-left: 100px;
  @media (max-width: $w-md) {
    padding: 85px 0 50px;
  }

  width: 40%;
  @media (max-width: $w-sm) {
    padding: 28px 0 20px;
    margin-left: 20px;
    margin-right: 20px;
    width: auto;
  }
}

.wi-regnow {
  background-color: #8e68ff;
  margin: auto;
}

.wi-regnow-inner {
  max-width: 1210px;
  height: 120px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  background-size: cover;
  background-image: url("~@/assets/images/bl2/banner.png");
  // background-image: -webkit-image-set(
  //     url("~@/assets/images/bl2/banner.png") 1x,
  //     url("~@/assets/images/bl2/banner-2x.png") 2x
  // );
  // background-image: image-set(
  //     url("~@/assets/images/bl2/banner.png") 1x,
  //     url("~@/assets/images/bl2/banner-2x.png") 2x
  // );
  @media (max-width: $w-sm) {
    background-color: #8e68ff;
    background-size: contain;
    background-position: bottom left;
    align-items: flex-start;
    flex-flow: column;
    width: 100%;
    height: 380px;
    margin: 0 auto;
    background-image: url("~@/assets/images/bl2/banner-sm.png");
    background-image: -webkit-image-set(url("~@/assets/images/bl2/banner-sm.png") 1x,
      url("~@/assets/images/bl2/banner-sm-2x.png") 2x);
    background-image: image-set(url("~@/assets/images/bl2/banner-sm.png") 1x,
      url("~@/assets/images/bl2/banner-sm-2x.png") 2x);
    flex: 0;
    .btn {
      flex: none;
      margin: 0;
    }
  }
}
.wi-regnow-side {
  flex: 1 0 0;
  display: flex;
  justify-content: center;
  .btn.inverted {
    box-shadow: 0px 2px 25px 0px rgba(98, 67, 191, 1);
  }
  @media (max-width: $w-sm) {
    flex: 0;
    padding: 0 18px;
    justify-content: flex-start;
    .btn {
      margin: 0;
    }
  }
}
.wi-regnow-center {
  flex: 0 1 auto;
  text-align: center;
  color: #fff;
  div {
    font-size: 16px;
  }
  @media (max-width: $w-md) {
    h3 {
      font-size: 27px;
    }
    div {
      font-size: 14px;
    }
  }
  @media (max-width: $w-sm) {
    text-align: left !important;
    margin: 0;
    padding: 18px;
    .h3 {
      font-size: 23px;
      line-height: 29px;
    }
    div {
      margin-top: 6px;
      font-size: 14px;
    }
  }
  @media (max-width: $w-xs) {
    .h3 {
      font-size: 20px;
      line-height: 25px;
    }
    div {
      font-size: 14px;
      line-height: 18px;
    }
  }
}


.first-bg {
  max-width: 1920px;
  margin: auto;
  position: relative;
  min-height: 475px;
  background-image: url("~@/assets/images/bl1/orig.jpg");
  background-position: right top;
  background-repeat: no-repeat;
  background-size: 55%;
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg,
      rgba(255, 255, 255, 1) 46%,
      rgba(255, 255, 255, 0) 70%);
    top: 0;
    z-index: 0;
  }
  @media (min-width: $w-lg) {
    background-position: right 30%;
    &:after {
      background: linear-gradient(90deg,
        rgba(255, 255, 255, 1) 45%,
        rgba(255, 255, 255, 0) 70%);
    }
  }
  @media (max-width: $w-md) {
    min-height: 350px;
  }
  @media (max-width: $w-sm) {
    &:after {
      background: linear-gradient(90deg,
        rgba(255, 255, 255, 1) 45%,
        rgba(255, 255, 255, 0) 150%);
    }
    background-position: 50% top;
    background-size: cover;
    min-height: unset;
  }
}

.showcase__inner {
  display: flex;
  margin-top: 58px;
  justify-content: flex-end;
  margin: 58px 20px auto 30px;
  @media (min-width: 1450px) {
    justify-content: center;
  }
  @media (max-width: $w-sm) {
    margin: 15px 14px 0;
    flex-flow: column;
  }
  .sc-desc {
    position: relative;
    margin-left: 40px;
    // max-width: 721px;
    width: auto;
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    @media (max-width: $w-sm) {
      margin-top: 20px;
      margin-left: 0px;
    }
    .sc-fade {
      position: absolute;
      display: flex;
      opacity: 0;
      transition: opacity 0ms;
      transition-delay: 0ms;
      &.active {
        opacity: 1;
        transition: opacity 150ms;
        transition-delay: 150ms;
        @media (max-width: $w-md) {
          position: relative;
        }
      }
      @media (min-width: $w-sm) and (max-width: $w-md) {
        .move-1 {
          transform: translateY(5em);
        }
        .move-2 {
          transform: translateY(10em);
        }
        .move-3 {
          transform: translateY(15em);
        }
        .move-4 {
          transform: translateY(20em);
        }
      }
      .img-container .root {
        width: 100%;
        z-index: 1;
        position: relative
      }
    }
    .img-container {
      position: relative;
      text-align: center;
      margin-bottom: -18%;
      @media (min-width: 1760px) {
        width: 80%;
        margin-bottom: 0%;
      }
      @media (max-width: $w-md) {
        margin-bottom: -5%;
      }
    }
    .img-container:after {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      width: 100%;
      height: 73%;
      box-shadow: 0px 3px 89px rgba(162, 162, 162, 0.5);
      transform: translateX(-50%);
      border-radius: 4px;
    }
    @media (max-width: $w-md) {
      display: block;
    }
  }
  .sc-switcher-container {
    flex: 0 0 530px;
    @media (min-width: 1460px) {
      margin-left: 10%;
    }
    @media (max-width: $w-md) {
      flex: 0 0 380px;
      // margin-right: 40px;
    }
  }
  .sc-switch {
    display: flex;
    align-items: flex-start;
    padding: 16px 16px 16px 26px;
    @media (max-width: $w-md) {
      padding: 14px;
    }
    position: relative;
    cursor: pointer;
    &:last-child:after {
      display: none;
    }
    &:after {
      content: "";
      position: absolute;
      height: calc(100% / 3 - 20px);
      border-left: 1px dashed #979797;
      left: 38px;
      top: 50px;
      transform: scaleY(3);
      transform-origin: top;
      opacity: 0;
      transition: opacity 150ms;
      @media (max-width: $w-md) {
        left: 26px;
      }
      @media (max-width: $w-sm) {
        left: 26px;
      }
    }
    &:not(.active):after {
      opacity: 1;
    }

    background: transparent;
    box-shadow: 0px 4px 30px rgba(49, 49, 49, 0.00);
    transition: background-color 150ms,
    box-shadow 150ms;
    &:hover,
    &.active {
      border-radius: 4px;
      background: #fff;
      box-shadow: 0px 4px 30px rgba(49, 49, 49, 0.09);
    }
  }
  .check {
    margin-right: 20px;
    object-fit: contain;
    min-width: 25px;
    min-height: 25px;
    @media all and (-ms-high-contrast: none),
    (-ms-high-contrast: active) {
      // ie10-11 fix
      width: auto;
      height: 23px;
    }
    @media (max-width: $w-sm) {
      margin-right: 10px;
      width: 20px;
      height: 20px;

      @media all and (-ms-high-contrast: none),
      (-ms-high-contrast: active) {
        // ie10-11 fix
        width: auto;
        height: 18px;
      }
    }
  }
  .sc-head {
    display: block;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #4578ff;
    @media (max-width: $w-sm) {
      font-size: 14px;
      line-height: 20px;
    }
  }
  .sc-text {
    display: block;
    font-size: 16px;
    line-height: 22px;
    color: #7f7f7f;
    @media (max-width: $w-sm) {
      font-size: 14px;
      line-height: 21px;
      margin-top: 10px;
    }
  }
}
.showcase h2 {
  text-align: center;
}
