@import "./variables";
@import "./normalize.css";

img {
  object-fit: contain;
  font-family: 'object-fit: contain;';
}

h1,
h2,
h3,
h4,
h5 {
  all: unset;
  display: block;
}

.h1,
.h2,
.h3,
.h4 {
  font-family: Montserrat, sans-serif;
  margin: 0;
  position: relative;
}

.h1,
.h2 {
  font-size: 35px;
  font-weight: 700;
  line-height: 40px;
  @media (max-width: $w-sm) {
    font-size: 20px;
    line-height: 28px;
    text-align: center
  }
}
.h3 {
  font-size: 30px;
  font-weight: 600;
  line-height: 33px;
}
.h4 {
  font-size: 25px;
  font-weight: 500;
}
.h5 {
  font-size: 20px;
  line-height: 27px;
  font-weight: 400;
  margin: 0;
  @media (max-width: $w-md) {
    font-size: 15px;
    line-height: 22px;
  }
}

* {
  color: $color-primary;
}

.container {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
